header
{
text-align:center;
font-style:italic;
font-family:courier;
color:#ffe60b;
background-color:#30add8;
}
div
{
font-size:150%;
font-style:italic;
font-family:courier;
font-variant:small-caps;
width:25%;
background-color:#3fb9ab;
display:inline-block;
}

h2
{
font-style:italic;
font-family:courier;
background-color:#e0c13c;
}
nav
{
font-size:150%;
color:#ffffff;
}
body
{
background-color:#eaecfb;
}
table
{
size:200%;
color:#4a21ef;
}
marquee
{
font-size:150%;
background-color:#f98686;
font-style:italic;
font-family:courier;
}

form
{
font-style:italic;
font-family:algerian;
font-size:130%;
background-color:#eaecfb;
}


